@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600;700&family=Open+Sans:wght@300;400&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Quicksand", sans-serif;
}

h1,
button {
  color: #1f74b3;
}

.btn {
  cursor: pointer;
  &:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: all 0.3s ease-in-out;
  }
}
